@charset "UTF-9";

body{
    background-color: #1c1c1c;
    color: white;
    font-family: monospace;
    padding: 24px;
}

.title{
    font-size: 48px;
    color: #00ff7f;
}

.list-item{
    margin-bottom: 24px;
    font-size: 24px;
}

input{
    height: 32px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border-color: #00ff7f;
    padding: 8px;
    text-align: center;
}

.adic > button{
   font-size: 16px;
   padding: 16px;
   background-color: #228b22;
   border-width: 0px;
   border-radius: 4px;
   font-weight: bold;
   color: white;
   margin-left: 10px;
   }